{% extends "ecom/base.html" %}
{% block content %}
    <main role="main">
          <h1 class="text-center pt-3">{{product.product_name}}</h1>
            
        
          <div class="text-center">{{product.pub_date}}</div>
            <img class="image-fluid" imageclass="card-img-right flex-auto d-none d-md-block" src="{{product.product_image.url}}" height="600" width="900">
                <br>
                <br>
                <form method="POST" >
        
                    {% csrf_token %}
                    
                    <button class="btn btn-primary"  type="submit"><a href="{% url 'cart1' product.id%}">add to cart</a></button>
                </form>
      
              </div>
              
            </div>
            <br>
            <br>
            <br>
            <div class="container">
            
        </div>
          </div>
        </main>

{% endblock content %}

