{% extends "ecom/base.html" %}
{% block content %}
{% if error %}
          {{error}}
        {% endif %}
    <main role="main">
          <h1 class="text-center pt-3">{{product.product_name}}</h1>
            
        
          <div class="text-center">{{product.pub_date}}</div>
            <img class="image-fluid" imageclass="card-img-right flex-auto d-none d-md-block" src="{{product.product_image.url}}" height="600" width="900">
                <br>
                <br>
                <form method="POST" >
        
                    {% csrf_token %}
                    
                    <button class="btn btn-primary"  type="submit"><a href="{% url 'cart1' product.id%}">add to cart</a></button>
                </form>
      
              </div>
              
            </div>
            <br>
            <br>
            <br>
            <div class="container">
              {% if user.is_authenticated %}
                <form method="POST" action="{% url 'detail1' product.id %}" enctype="multipart/form-data">

                {% csrf_token %}
                Title:
                <br>
                <br>
                Body:
                <br>
                <textarea id="txtArea" rows="10" cols="70" name="body"></textarea>
                
                <br>
              
                <input class="btn btn-primary"  type="submit" value="add product"/>
            </form>
        </div>
        {% endif %}
        
        {% for reviews in review %}
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            
              <strong class="d-inline-block mb-2 text-success">review</strong>
              
              <div class="mb-1 text-muted"></div>
              <p class="card-text mb-auto">{{reviews.body}}</p>
              <p>created by : {{reviews.username}}</p>
              
            </div>
            
          </div>
        </div>
        {% endfor %}
          </div>
        </main>

{% endblock content %}

